@model IEnumerable<Shop.Web.Models.Book>


@foreach (var book in Model)
            {
    <tr>
        <td>@Html.DisplayFor(b => book.Title)</td>
        <td>@book.PublicDate.ToShortDateString()</td>
        <td>@Html.DisplayFor(b => book.Price)</td>
        <td>@Html.DisplayFor(b => book.Author.FirstName) @Html.DisplayFor(b => book.Author.LastName) </td>
        <td>@Html.DisplayFor(b => book.Publisher.Name)</td>
        <td><a data-toggle="modal" data-target="#cartModal" style="cursor: pointer;">Do koszyka</a></td>
    </tr>
}

<div class="modal fade" tabindex="-1" role="dialog" id="cartModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj do koszyka</h4>
            </div>
            <div class="modal-body">
                @Html.Action("AddToCart", "Cart")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



