<div class="panel panel-primary">
    <div class="panel-heading">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3>Księgarnia Internetowa</h3><br />
                    <p style="margin-top: -30px;font-size: 0.8em;">Nasze sklepy prowadzimy z pasją!</p>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Wyszukiwarka">
                        </div>
                        <button type="submit" class="btn btn-default">Szukaj</button>
                    </form>
                    <button type="button" class="btn btn-default navbar-btn navbar-right">Liczba produktów <span class="badge">4</span></button>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="panel-body">
        <div>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    @Ajax.ActionLink("Wszystkie", "Index", new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading"})
                </li>
                <li role="presentation">
                    @Ajax.ActionLink("Audiobooki", "GetBooksByType", new { bookType = 1 }, new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading" })
                </li>
                <li role="presentation">
                    @Ajax.ActionLink("E-booki", "GetBooksByType", new { bookType = 2 }, new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading" })
                </li>
                <li role="presentation">
                    @Ajax.ActionLink("Nowości", "GetNewestBooks", new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading" })
                </li>
                <li role="presentation">
                    @Ajax.ActionLink("Zapowiedzi", "GetPreviewsBooks", new AjaxOptions { UpdateTargetId = "tbody" })
                </li>
                <li role="presentation">
                    @Ajax.ActionLink("Super okazje", "GetOpportunityBooks", new AjaxOptions { UpdateTargetId = "tbody" })
                </li>
            </ul>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Data Wydania</th>
                    <th>Cena</th>
                    <th>Autor</th>
                    <th>Wydawnictwo</th>
                    <th><i class="fa fa-shopping-basket" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody id="tbody">
                @Html.Partial("_BooksByType")
            </tbody>
        </table>
    </div>


</div>
