<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ksiegarnia Internetowa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/fonts/font-awesome-4.6.3/css/font-awesome.min.css")" rel="stylesheet" />
</head>
<body ng-app="shopApp">
    <div class="container-fluid">
        <div class="row" style="margin-top: 100px">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <h3>Księgarnia Internetowa</h3><br />
                                    <p style="margin-top: -30px;font-size: 0.8em;">Nasze sklepy prowadzimy z pasją!</p>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse">
                                    <form class="navbar-form navbar-left" role="search" ng-controller="SearchController" ng-submit="GoSearch(searchQuery)">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Wyszukiwarka" ng-model="searchQuery" >
                                        </div>
                                        <button type="submit" class="btn btn-default">Szukaj</button>
                                    </form>
                                    <button type="button" class="btn btn-default navbar-btn navbar-right">Liczba produktów <span class="badge">4</span></button>

                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                    <div class="panel-body">
                        <div>
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active">

                                    @*@Html.ActionLink("Wszystkie", "All", "Book")*@
                                    @*@Ajax.ActionLink("Wszystkie", "Books", "Book", new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace })*@
                                </li>
                                <li role="presentation">
                                    @Html.ActionLink("Audiobooki", "Type", "Book", new { bookType = 1 }, null)
                                    @*@Ajax.ActionLink("Audiobooki", "Type", "Book", new { bookType = 1 }, new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace })*@
                                </li>
                                <li role="presentation">
                                    @Html.ActionLink("E-booki", "Type", "Book", new { bookType = 2 }, null)
                                    @*@Ajax.ActionLink("E-booki", "Type", "Book", new { bookType = 2 }, new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace })*@
                                </li>
                                <li role="presentation">
                                    <a href="/book/newest">Nowości</a>
                                    @*@Html.ActionLink("Nowości", "Newest", "Book")*@
                                    @*@Ajax.ActionLink("Nowości", "Newest", "Data", new AjaxOptions { UpdateTargetId = "tbody", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace })*@
                                </li>
                                <li role="presentation">
                                    @Html.ActionLink("Zapowiedzi", "Previews", "Book")
                                    @*@Ajax.ActionLink("Zapowiedzi", "Previews", "Data", new AjaxOptions { UpdateTargetId = "tbody", InsertionMode = InsertionMode.Replace })*@
                                </li>
                                <li role="presentation">
                                    @Html.ActionLink("Super okazje", "Opportunity", "Book")
                                    @*@Ajax.ActionLink("Super okazje", "Opportunity", "Book", new AjaxOptions { UpdateTargetId = "tbody", InsertionMode = InsertionMode.Replace })*@
                                </li>
                            </ul>
                        </div>

                        @RenderBody()

                        @Html.Partial("_ModalPartial")

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
