<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Ksiegarnia internetowa wyposaæona w Audio i E-booki">
    <meta charset="utf-8">
    <title>Ksiegarnia Internetowa</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/loadingCss")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/fonts/font-awesome-4.6.3/css/font-awesome.min.css")" rel="stylesheet" />
    <base href="/">
</head>
<body ng-app="shopApp">
<div class="container-fluid" ng-controller="MainController">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <h3>Księgarnia Internetowa</h3><br/>
                                <p style="margin-top: -30px; font-size: 0.8em;">Nasze sklepy prowadzimy z pasją!</p>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Wyszukiwarka" ng-model="searchQuery">
                                    </div>
                                </form>
                                <button type="button" class="btn btn-default navbar-btn navbar-right">Liczba produktów <span class="badge">{{ itemsAmount }}</span></button>

                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="panel-body">
                    @Html.Partial("_NavigationPartial")

                    @RenderBody()

                    @Html.Partial("_ModalPartial")

                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loadingJs")
    @RenderSection("Scripts", required: false)
</body>
</html>
